'$schema': 'https://git.drupalcode.org/project/cl_components/-/raw/1.x/src/metadata.schema.json'
machineName: "{{ component_machine_name }}"
name: "{{ component_name }}"
componentType: "{{ component_type }}"
status: "{{ component_status }}"
{% if component_description is not empty %}
description: "{{ component_description }}"
{% endif %}
{% if component_variants is not empty %}
variants:
  {% for variant in component_variants %}
  - "{{ variant }}"
  {% endfor %}
{% endif %}
{% if component_libraries is not empty %}
libraryDependencies:
  {% for library in component_libraries %}
  - "{{ library }}"
  {% endfor %}
{% endif %}
{% if component_props is not empty %}
schemas:
  props:
    type: object
    properties:
      {% for prop in component_props %}
      "{{ prop.name }}":
        type: "{{ prop.type }}"
        title: "{{ prop.title }}"
        {% if prop.description %}
        description: "{{ prop.description }}"
        {% endif %}
        {% if prop.examples is not empty %}
        examples:
          {% for example in prop.examples %}
          - "{{ example }}"
          {% endfor %}
        {% endif %}
      {% endfor %}
{% endif %}
