.cl-component--{{ component_machine_name }} {
  /* Add your styles here */
}

.cl-component--{{ component_machine_name }}[data-cl-component-variant="{{ component_variants|first }}"] {
  /* Add your styles for the {{ component_variants|first }} variant here */
}
